<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    

    @*  @/ for login Failed @*@

    <link href="~/LoginFaile/Style.css" rel="stylesheet" />

</head>
<body>
    <div>
    @RenderBody();
    </div>


     <script src="~/LoginFaile/javat.js"></script>

</body>
</html>
