

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/LoginScript/css/style.css" rel="stylesheet" />
    <link href="~/LoginScript/css/bootstrap.min.css" rel="stylesheet" />

   @* //for register page *@

    <a href="~/RegisterScript/style.css"></a>
 

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="css/style.css">


  


    

</head>

<body>

    <div>
          @RenderBody();
    </div>


    
    <script src="~/LoginScript/js/bootstrap.min.js"></script>
    <script src="~/LoginScript/js/jquery.min.js"></script>
    <script src="~/LoginScript/js/main.js"></script>
    <script src="~/LoginScript/js/popper.js"></script>

   
   

</body>

</html>
